# Download the data from : https://www.kaggle.com/lakshmi25npathi/imdb-dataset-of-50k-movie-reviews

# Classifying IMDB Sentiments with BERT Tokenizer and Tensorflow 2.0

In [1]:
import tensorflow as tf

import tensorflow_hub as hub

from tensorflow.keras import layers
import bert
import pandas as pd
import numpy as np
import re
import math

# Tensorflow 2.0

In [31]:
print(tf.__version__)

2.0.0

In [2]:
df = pd.read_csv("IMDB Dataset.csv")

In [3]:
df.head(10)

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive
5  Probably my all-time favorite movie, a story o...  positive
6  I sure would like to see a resurrection of a u...  positive
7  This show was an amazing, fresh & innovative i...  negative
8  Encouraged by the positive comments about this...  negative
9  If you like original gut wrenching laughter yo...  positive

In [4]:
TAG_RE = re.compile(r'<[^>]+>')
def clean_text(sentence):

    # Remove punctuations and numbers
    sentence = re.sub('[^a-zA-Z]', ' ', sentence)

    # Single character removal
    sentence = re.sub(r"\s+[a-zA-Z]\s+", ' ', sentence)

    # Removing multiple spaces
    sentence = re.sub(r'\s+', ' ', sentence)
    
    sentence = TAG_RE.sub('', sentence)

    return sentence

In [5]:
df['clean_reviews'] = df['review'].astype(str).apply(clean_text)

In [6]:
df

,review,sentiment,clean_reviews
0,One of the other reviewers has mentioned that ...,positive,One of the other reviewers has mentioned that ...
1,A wonderful little production. <br /><br />The...,positive,A wonderful little production br br The filmin...
2,I thought this was a wonderful way to spend ti...,positive,I thought this was wonderful way to spend time...
3,Basically there's a family where a little boy ...,negative,Basically there a family where little boy Jake...
4,"Petter Mattei's ""Love in the Time of Money"" is...",positive,Petter Mattei Love in the Time of Money is vis...
...,...,...,...
49995,I thought this movie did a down right good job...,positive,I thought this movie did down right good job I...
49996,"Bad plot, bad dialogue, bad acting, idiotic di...",negative,Bad plot bad dialogue bad acting idiotic direc...
49997,I am a Catholic taught in parochial elementary...,negative,I am Catholic taught in parochial elementary s...
49998,I'm going to have to disagree with the previou...,negative,I going to have to disagree with the previous ...
49999,No one expects the Star Trek movies to be high...,negative,No one expects the Star Trek movies to be high...

In [7]:
y = df['sentiment']

y = df['sentiment'].map({'positive':1,'negative':0})

In [8]:
print(df['clean_reviews'][10])

Phil the Alien is one of those quirky films where the humour is based around the oddness of everything rather than actual punchlines br br At first it was very odd and pretty funny but as the movie progressed didn find the jokes or oddness funny anymore br br Its low budget film thats never problem in itself there were some pretty interesting characters but eventually just lost interest br br imagine this film would appeal to stoner who is currently partaking br br For something similar but better try Brother from another planet

In [9]:
print(y[10])

0

In [10]:
BertTokenizer = bert.bert_tokenization.FullTokenizer
bert_layer = hub.KerasLayer("https://tfhub.dev/tensorflow/bert_en_uncased_L-12_H-768_A-12/1",
                            trainable=False)
vocabulary_file = bert_layer.resolved_object.vocab_file.asset_path.numpy()
to_lower_case = bert_layer.resolved_object.do_lower_case.numpy()
tokenizer = BertTokenizer(vocabulary_file, to_lower_case)

In [11]:
tokenizer.tokenize("Salman Brother is an actor for the masses")

['salman', 'brother', 'is', 'an', 'actor', 'for', 'the', 'masses']

In [12]:
tokenizer.convert_tokens_to_ids(tokenizer.tokenize("dont be so judgmental"))

[2123, 2102, 2022, 2061, 8689, 2389]

In [13]:
def tokenize_reviews(text_reviews):
    return tokenizer.convert_tokens_to_ids(tokenizer.tokenize(text_reviews))

In [14]:
tokenized_reviews = [tokenize_reviews(review) for review in df.review]

In [15]:
reviews_with_len = [[review, y[i], len(review)]
                 for i, review in enumerate(tokenized_reviews)]

In [16]:
import random

In [17]:
random.shuffle(reviews_with_len)

In [18]:
reviews_with_len.sort(key=lambda x: x[2])

In [19]:
sorted_reviews_labels = [(review_lab[0], review_lab[1]) for review_lab in reviews_with_len]

In [20]:
processed_dataset = tf.data.Dataset.from_generator(lambda: sorted_reviews_labels, output_types=(tf.int32, tf.int32))

In [21]:
BATCH_SIZE = 32
batched_dataset = processed_dataset.padded_batch(BATCH_SIZE, padded_shapes=((None, ), ()))

In [22]:
next(iter(batched_dataset))

(<tf.Tensor: id=23054, shape=(32, 28), dtype=int32, numpy=
 array([[ 3191,  1996,  2338,  1010,  5293,  1996,  3185,   999,     0,
             0,     0,     0,     0,     0,     0,     0,     0,     0,
             0,     0,     0,     0,     0,     0,     0,     0,     0,
             0],
        [ 3078,  5436,   999,  3078,  3257,   999,  3532,  7613,  1012,
             0,     0,     0,     0,     0,     0,     0,     0,     0,
             0,     0,     0,     0,     0,     0,     0,     0,     0,
             0],
        [ 2023,  3185,  2003,  6659,  2021,  2009,  2038,  2070,  2204,
          3896,  1012,     0,     0,     0,     0,     0,     0,     0,
             0,     0,     0,     0,     0,     0,     0,     0,     0,
             0],
        [ 2054,  1037,  5896,  1010,  2054,  1037,  2466,  1010,  2054,
          1037,  6752,   999,     0,     0,     0,     0,     0,     0,
             0,     0,     0,     0,     0,     0,     0,     0,     0,
             0],
        [ 8235,  1998,  3048,  4616,  2011,  3419,  2457, 27727,  1998,
          2848, 16133,  1012,     0,     0,     0,     0,     0,     0,
             0,     0,     0,     0,     0,     0,     0,     0,     0,
             0],
        [ 1045,  2876,  1005,  1056,  9278,  2023,  2028,  2130,  2006,
          7922, 12635,  2305,  1012,     0,     0,     0,     0,     0,
             0,     0,     0,     0,     0,     0,     0,     0,     0,
             0],
        [ 1045,  3246,  2023,  2177,  1997,  2143,  1011, 11153,  2196,
          2128,  1011, 15908,  2015,  1012,     0,     0,     0,     0,
             0,     0,     0,     0,     0,     0,     0,     0,     0,
             0],
        [ 7918, 14674,  7662,  2003,  6581,  2003,  2023,  2143,  1012,
          2002,  3084,  1037, 17160,  2450,  1012,     0,     0,     0,
             0,     0,     0,     0,     0,     0,     0,     0,     0,
             0],
        [11861,  1996, 21442,  6895,  3238,  2515,  1037,  2210, 22759,
          6198,  1998,  1037,  3185,  2087, 12487,   999,     0,     0,
             0,     0,     0,     0,     0,     0,     0,     0,     0,
             0],
        [ 2023,  2003,  1037,  2307,  3185,  1012,  2205,  2919,  2009,
          2003,  2025,  2800,  2006,  2188,  2678,  1012,     0,     0,
             0,     0,     0,     0,     0,     0,     0,     0,     0,
             0],
        [ 2062, 23873,  3993,  1010,  2062, 11259,  1010,  2172,  1010,
          2172,  2062, 14888,  1012,  1012,  1012,  1012,     0,     0,
             0,     0,     0,     0,     0,     0,     0,     0,     0,
             0],
        [ 2017,  1005,  1040,  2488,  5454,  2703,  2310, 25032,  8913,
          8159,  1005,  1055,  2130,  2065,  2017,  2031,  3427,  2009,
          1012,     0,     0,     0,     0,     0,     0,     0,     0,
             0],
        [ 2074,  2293,  1996,  6970, 13068,  2090,  2048,  2307,  3494,
          1997,  2754,  1004,  3898,  1011,  2310,  3593,  2102,  1004,
          6287,  5974,     0,     0,     0,     0,     0,     0,     0,
             0],
        [ 2023,  2003,  1996, 15764,  3185,  2544,  1997,  8429,  1012,
         24905, 17988,  7659,  2498,  1010,  2021,  2045,  2024,  2053,
         13842,  5312,  1012,     0,     0,     0,     0,     0,     0,
             0],
        [ 1045,  2123,  1005,  1056,  2113,  2339,  1045,  2066,  2023,
          3185,  2061,  2092,  1010,  2021,  1045,  2196,  2131,  5458,
          1997,  3666,  2009,  1012,     0,     0,     0,     0,     0,
             0],
        [ 2023,  2003,  1037,  2204,  2143,  1012,  2023,  2003,  2200,
          6057,  1012,  2664,  2044,  2023,  2143,  2045,  2020,  2053,
          2204,  8471,  3152,   999,     0,     0,     0,     0,     0,
             0],
        [ 2146,  1010, 11771,  1010,  1038,  8523,  8458,  6633,  3560,
          1012,  2196,  2031,  1045,  2042,  2061,  5580,  2000,  2156,
          4566,  6495,  4897,  1012,     0,     0,     0,     0,     0,
             0],
        [ 1037,  7244,  3185,  1012,  2009,  2003,  2440,  1997,  6699,
          1998,  6919,  3772,  1012,  1045,  2071,  2031,  2938,  2083,
          2009,  1037,  2117,  2051,  1012,     0,     0,     0,     0,
             0],
        [ 2005,  5760,  7788,  4393,  8808,  2498,  2064, 12826,  2000,
          1996, 11056,  3152,  1012,  1045,  3811, 16755,  2169,  1998,
          2296,  2028,  1997,  2068,  1012,     0,     0,     0,     0,
             0],
        [ 1037,  5790,  1997,  1000,  1015,  1000,  2515,  2025,  4088,
          2000,  4671,  2129, 10634,  1010,  2139, 24128,  1998, 21660,
          2135,  2919,  2023,  3185,  2003,  1012,     0,     0,     0,
             0],
        [ 2028,  1997,  1996,  4569, 15580,  2102,  5691,  2081,  1999,
          3522,  2086,  1012,  2204, 23191,  1010,  5436,  1998, 11813,
          6370,  2191,  2023,  2028,  1037,  4438,     0,     0,     0,
             0],
        [ 7078, 10392,   999,  3649,  1045,  2360,  2876,  1005,  1056,
          2079,  2023,  2104,  9250,  3185,  1996,  3425,  2009, 17210,
          1012,  3422,  2009,  2085,   999, 10392,   999,     0,     0,
             0],
        [ 2053,  7615,  1011,  5236,  3185,  1010,  3772,  2779,  2030,
          4788,  1012,  1012,  1012,  9000,  1011,  2053,  3168,  2012,
          2035,  1012,  1012,  1012, 13558,  2009,   999,     0,     0,
             0],
        [ 1037,  2033,  6491, 11124,  6774,  2143,  2008,  5121,  7906,
          2115,  3086,  1012,  1012,  1012,  3841, 13196,  2003, 17160,
          1006,  1998, 26103,  1007,  2000,  3422,  1012,     0,     0,
             0],
        [ 2023,  3185,  2097,  2467,  2022,  1037,  5934,  1998,  3185,
          4438,  1010,  2004,  2146,  2004,  2045,  2024,  2145,  2111,
          2040,  6170,  1010,  3153,  1010,  1998,  2552,  1012,     0,
             0],
        [ 7615,  2023,  3185,  2003,  5263,  1012,  2003,  6659,  1010,
          2200, 17727,  3217,  3676,  3468,  1010,  2919,  7613,  1041,
          3257,  1012,  2025,  2298,   999,   999,   999,   999,   999,
             0],
        [ 5525,  2517,  2005,  1996,  2754,  1012, 12038,  2021,  4276,
         19927,  1012,  2129,  2064,  2017,  2175,  3308,  2007,  6798,
          9482,  1010, 14439,  1998, 21442,  2571, 15578,  4948,  1012,
             0],
        [ 2023,  2003,  1996,  4602,  3185,  2412,  1012,  2065,  2017,
          2031,  2517,  2009,  2125,  2007,  2041,  2412,  3773,  2009,
          1012,  2017,  2442,  2507,  2009,  1037,  2117,  3046,  1012,
             0],
        [ 2307,  3185,  1011,  2926,  1996,  2189,  1011,  3802,  2696,
          2508,  1011,  1000,  2012,  2197,  1000,  1012,  2023,  8847,
          6702,  2043,  2017,  2031,  2633,  2179,  2008,  2569,  2619,
          1012],
        [ 5587,  2023,  2210, 17070,  2000,  2115,  2862,  1997,  6209,
         24945,  1012,  2009,  2003,  1026,  7987,  1013,  1028,  1026,
          7987,  1013,  1028,  4086,  1010,  6057,  1010,  1998,  2203,
         27242],
        [ 6283,  2009,  2007,  2035,  2026,  2108,  1012,  5409,  3185,
          2412,  1012, 10597,  1011, 21985,  1012,  2393,  2033,  1012,
          2009,  2001,  2008,  2919,  1012,  3404,  2033,   999,   999,
           999],
        [ 1996,  3494,  2024,  4406,  3085,  1998,  1996,  5896,  2003,
          9643,  1012,  2009,  1005,  1055,  1037,  5949,  1997,  1996,
         11725,  1997,  7939, 13765,  3726,  1998,  8740,  2618, 19231,
          1012]])>,
 <tf.Tensor: id=23055, shape=(32,), dtype=int32, numpy=
 array([0, 0, 0, 0, 1, 0, 0, 1, 0, 1, 0, 0, 1, 1, 1, 1, 0, 1, 1, 0, 1, 1,
        0, 1, 1, 0, 1, 1, 0, 1, 0, 0])>)

In [23]:
TOTAL_BATCHES = math.ceil(len(sorted_reviews_labels) / BATCH_SIZE)
TEST_BATCHES = TOTAL_BATCHES // 10
batched_dataset.shuffle(TOTAL_BATCHES)
test_data = batched_dataset.take(TEST_BATCHES)
train_data = batched_dataset.skip(TEST_BATCHES)

In [24]:
class TEXT_MODEL(tf.keras.Model):
    
    def __init__(self,
                 vocabulary_size,
                 embedding_dimensions=128,
                 cnn_filters=50,
                 dnn_units=512,
                 model_output_classes=2,
                 dropout_rate=0.1,
                 training=False,
                 name="text_model"):
        super(TEXT_MODEL, self).__init__(name=name)
        
        self.embedding = layers.Embedding(vocabulary_size,
                                          embedding_dimensions)
        self.cnn_layer1 = layers.Conv1D(filters=cnn_filters,
                                        kernel_size=2,
                                        padding="valid",
                                        activation="relu")
        self.cnn_layer2 = layers.Conv1D(filters=cnn_filters,
                                        kernel_size=3,
                                        padding="valid",
                                        activation="relu")
        self.cnn_layer3 = layers.Conv1D(filters=cnn_filters,
                                        kernel_size=4,
                                        padding="valid",
                                        activation="relu")
        self.pool = layers.GlobalMaxPool1D()
        
        self.dense_1 = layers.Dense(units=dnn_units, activation="relu")
        self.dropout = layers.Dropout(rate=dropout_rate)
        if model_output_classes == 2:
            self.last_dense = layers.Dense(units=1,
                                           activation="sigmoid")
        else:
            self.last_dense = layers.Dense(units=model_output_classes,
                                           activation="softmax")
    
    def call(self, inputs, training):
        l = self.embedding(inputs)
        l_1 = self.cnn_layer1(l) 
        l_1 = self.pool(l_1) 
        l_2 = self.cnn_layer2(l) 
        l_2 = self.pool(l_2)
        l_3 = self.cnn_layer3(l)
        l_3 = self.pool(l_3) 
        
        concatenated = tf.concat([l_1, l_2, l_3], axis=-1) # (batch_size, 3 * cnn_filters)
        concatenated = self.dense_1(concatenated)
        concatenated = self.dropout(concatenated, training)
        model_output = self.last_dense(concatenated)
        
        return model_output

In [25]:
VOCAB_LENGTH = len(tokenizer.vocab)
EMB_DIM = 200
CNN_FILTERS = 100
DNN_UNITS = 256
OUTPUT_CLASSES = 2

DROPOUT_RATE = 0.2

NB_EPOCHS = 5

In [26]:
text_model = TEXT_MODEL(vocabulary_size=VOCAB_LENGTH,
                        embedding_dimensions=EMB_DIM,
                        cnn_filters=CNN_FILTERS,
                        dnn_units=DNN_UNITS,
                        model_output_classes=OUTPUT_CLASSES,
                        dropout_rate=DROPOUT_RATE)

In [27]:
if OUTPUT_CLASSES == 2:
    text_model.compile(loss="binary_crossentropy",
                       optimizer="nadam",
                       metrics=["accuracy"])
else:
    text_model.compile(loss="sparse_categorical_crossentropy",
                       optimizer="nadam",
                       metrics=["sparse_categorical_accuracy"])

In [28]:
text_model.fit(train_data, epochs=NB_EPOCHS)

Epoch 1/5
1407/1407 [==============================] - 493s 350ms/step - loss: 0.2946 - accuracy: 0.8692
Epoch 2/5
1407/1407 [==============================] - 496s 352ms/step - loss: 0.1343 - accuracy: 0.9511
Epoch 3/5
1407/1407 [==============================] - 473s 336ms/step - loss: 0.0521 - accuracy: 0.9824
Epoch 4/5
1407/1407 [==============================] - 478s 340ms/step - loss: 0.0266 - accuracy: 0.9910
Epoch 5/5
1407/1407 [==============================] - 475s 338ms/step - loss: 0.0214 - accuracy: 0.9922

In [30]:
%timeit
results = text_model.evaluate(test_dataset)
print(results)

NameError: name 'test_dataset' is not defined